{
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "extends": [
        "plugin:vue/recommended",
        "airbnb"
    ],
    "plugins": [
        "eslint-plugin-vue",
        "eslint-plugin-react"
    ],
    "rules": {
        "strict": 0,
        "linebreak-style": 0,
        "indent": [
            "error",
            4
        ],
        "comma-dangle": ["error", "never"],
        "semi": "never",
        "vue": {
            "script-indent": [
                "error",
                "tab",
                {
                    "baseIndent": 1
                }
            ]
        },
        "no-new": "off",
        "arrow-parens": "off",
        "import/first": "off",
        "no-console": [
            "error",
            {
                "allow": [
                    "warn",
                    "error"
                ]
            }
        ]
    },
    "overrides": [
        {
            "files": [
                "*.vue"
            ],
            "rules": {
                "indent": "off"
            }
        }
    ]
}