extends ../layout/main.pug

block variables
    - var title = 'Заголовок'

block content
    section
        .container
            .imgcontainer
                img(src="assets/img/1.jpg")
            .imgcontainer
                img(src="assets/img/backpack.png")
            button(
                type="button"
                @click="showComponent"
            ) showComponent
            example-component(
                v-if="component"
            )
            example-component(
                v-if="component"
            )
            +item('Заголовок h2','Описание')
            +item('Заголовок 123','Описание')
