extends ../layout/main.pug

block variables
    - var title = 'Заголовок'

block content
    section
        .container
            button(
                type="button"
                @click="showComponent"
            ) showComponent
            example-component(
                v-if="component"
            )
            example-component(
                v-if="component"
            )
            +item('Заголовок h2','Описание')
            +item('Заголовок 123','Описание')
