@import 'layout/mixins.scss';

h1 {
    color: red;
}
h2 {
    color: red;
}
h3 {
    color: red;
    font-size: 10px;    
}
/* 
.wrapper {
    background-image: url(require('../img/icons/api-map.svg'));
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
} */